{% extends 'layout.html' %}

{% block title %}Favourites{% endblock %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          
    <main class="d-flex flex-column align-items-center px-3">
<h2 class="text-white-50">Favourites</h2>
<form class="d-flex" action="{{ url_for('filter_favourite') }}" method="POST">
    <label for="filter">
        <i class="fas fa-user"></i>
    </label>
    <input class="form-control me-2" type="text" name="filter" placeholder="Filter" id="filter" required>
    <label for="password">
        <i class="fas fa-lock"></i>
    </label>
    <div class="msg">{{ msg }}</div>
    <input type="submit" class="btn btn-outline-primary" value="Search">

</form>



<div class="container"  style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-12">
            {% for datas in data %}
                <div class="card mb-3">
                    <a class="nav-link active" href = "{{ url_for('get_venue', id = datas['result']['place_id']) }}" >
                    <div class="card-header">
                        {{ datas['result']['name'] }}
                    </div>
                </a> 
                    <div class="card-body p-4">
                        <p>Address: </p>
                        {{ datas['result']['formatted_address'] }}

                    </div>
                    <div class="card-body">

                        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=datas['result']['photos']&key=AIzaSyAvi7VtnLjgF1ezfFdBijVEV_l0upGSJB0"  class="rounded mx-auto d-block"   alt="...">
                    </div>              
                    <a class="btn btn-danger" href= "{{url_for('delete_favourite', id = datas['result']['place_id'])}}" role="button">Delete</a>
                </div>
            {%  endfor %}}}
            <div class="msg">{{ msg }}</div>
        </div> <!--col-->
    </div>      <!--row-->
</div>          <!--container-->
</main>
</div>


{% endblock %}


