<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}

    
    <head>
        <title>Here is your Pocket Travel Guide</title>
    </head>

    {%block content%}
    <body>

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          
            <main class="d-flex flex-column align-items-center px-3 text-white-50">
                <h3>Here is your Pocket Travel Guide</h3>
                <form method="POST" action ="/venues">
                    <p class="form-label">Where to?</p>
                    <p class="d-flex align-items-center">
                        <input type="text" name="addr" class="form-control" id ="location" value = {{data}} >
                        <a href="{{ url_for('get_current_location')}}">
                            <img src="/static/images/current_location.png" alt="Current Location"  title="Find your current location" id = "current_location" width="30" height="30" />
                        </a>
                    </p>
            
                    <label for ="search_criteria"  class="form-label">What to do</label>
                    <select class="form-select mb-4" id = "activity" name="act">
                    <option value="restaurant">Food</option>
                    <option value="bar">Bars/Nightclubs</option>
                    <option value="shopping_mall">Shopping</option>
                    <option value="cafe">Coffee</option>
                    <option value="museum">Arts</option>
                    <option value="park">Outdoors</option>
                    <option value="sights">Sights</option>
                    <option value="trending">Trending Venues</option>
        
        
                    
                </select>                           
        
                                    
                                    
                    <p><input type = "submit" value = "Search"  class="btn btn-success" /></p>
        
                </form>
            </main>
          </div>

    </body>
    {%endblock%}
    
</html>