<!DOCTYPE html>
<html>
	{%block head%}
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
			  <a class="navbar-brand" href="#">Pocket Travel Guide</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ url_for('main') }}">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{url_for('get_favourites')}}">Favourites</a>
				  </li>
				{%if session['username']%}
					<li><a class="nav-link " href="{{ url_for('logout') }}" tabindex="-1" aria-disabled="true">Logout</a></li>
				{%else%}
					<li><a class="nav-link " href="{{ url_for('login') }}" tabindex="-1" aria-disabled="true">Login</a>
					</li>
				{% endif %}
				</ul>
			  </div>
			</div>
		  </nav>
		 
	</head>

	
	{%endblock%}

	<body>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		
	</body>

	{%block content%}
	{%endblock%}

	{%block footer%}
	{%endblock%}

 </html>
	<!--
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Pocket Travel Guide</h1>
                <a href="{{ url_for('main') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			
		</div>
	</body>
</html>--> 
