{% extends 'layout.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          
    <main class="d-flex flex-column align-items-center px-3 text-white-50">

    <h2>My Profile </h2>
    <div>
        <p>Your account details are below:</p>
        <table>
            <tr>
                <td>Username:</td>
                <td>{{ user_account['username'] }}</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td> <input type = password value ="{{ user_account['password'] }}" disabled></td>
                    
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ user_account['email'] }}</td>
            </tr>
        </table>
    </div>
    </main>
</div>
{% endblock %}